/*
	CSS Rules
	selector {
		property: value;
	}

		or

		selector {property:  value;}
*/

/*Type Selector*/

/*tag name
	>>specified tag
	>>color-changes the font color*/
h1 {
	/*important property has the highest priority, using this will prioritize the property*/
	color: mediumpurple !important;
	text-align: center;
	/*rem- root element size, 1rem= 16px*/
	font-size: 2rem;
}

/*universal selector
	>> targets all elements
	>> font-family for the style of the font
	>> Courier New- primary font
	>> monospace-secondary font*/
* {
	font-family:"Courier New", monospace;
	/*20px- 20pixels*/
	font-size: 20px;
	color: sepia;
}

/*id selector*/
#zuitt-motto {
	/*letter-spacing changes the spaces in between characters of text*/
	letter-spacing: 5px;
}
/*CSS Specificity Rules
ID selector have the highest priority for selectors*/
h3 {
	letter-spacing: 25px;
}

/*class selector*/
.offering-item {
	text-transform: uppercase;
}

/*attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*Combinator Selectors*/
/*Adjacent Sibling Selector*/
/*selector + selector*/
h3+img {
	/*height - for changing vertical dimensions of an element*/
	height: 300px;
	/*width- for changing horizontal dimensions of an element*/
	width: 300px;
	/*border-radius- for changing the corners of an element from sharp to rounder corner*/
	border-radius: 150px;
}

/*descendant selector*/
/*selector selector*/
#bootcamp-learning-list li {
	/*hex code*/
	color: #075966;
}
/*general sibling selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

/*child selector*/
/*selector > selector*/
body>section>form>label {
	color: rgb(0,0,128);
}
/*more styling*/
body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}

a:hover{
	background-color: #b4d6de;
}
div {
	display: inline-block;
	float: right;
}
/*landing section*/
section{
	/*viewport height*/
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}
ol {
	list-style-type: none;
}
/*register section*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 225px;
	width: 25vw;
	position: relative;
	left:  37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}