#violet {
	color: violet!important;
}

* {
	font-family:"Calibri", monospace;
	font-size: 20px;
	color: cadetblue;
}
h1{
	font-size: 2rem;
}
#h2transform {
	text-transform: uppercase;
}
.languages-learned{
	background-color:peachpuff ;
}
.tools-used{
	border: 3px solid;
}

img + ul {
	list-style-type: hangul;
}
section img {
	height: 100px;
	width: 100px;
	border-radius: 20px
}
ul ~ p {
	text-align: center
}
body>section>ul>li {
	letter-spacing:5px ;
}